# Node.js dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment files
.env
.env.*.local

# Build output
/dist
/build

# Coverage
/coverage
/.nyc_output

# Docker
docker-compose.override.yml
.dockerignore
Dockerfile*
/docker-data
