services:
  app:
    build: .
    ports:
      - "${PORT:-6001}:${PORT:-6001}"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres
    restart: always
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB -h localhost"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s